body {
  font-family:'Montserrat', sans-serif;
}

.container-fluid {
  padding: 3% 15% 7%; /* 3% to top and bottom, 15% left and right.*/
}

#title {
  background-color: #ff4c68;
  color: white;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
}

h1 {
  font-family:'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.5;
}


h3 {
  font-size: 1.5rem;
  font-family:'Montserrat', sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
  font-family:'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

/*Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;

}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/*Download Buttons*/
.download-button {
  margin: 5% 3% 5% 0;
}

/*Phone image*/
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;

}

.feature-box {
  text-align: center;
  padding: 5% 4%;
}

.icon {
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover {
  /* cursor: pointer; */
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%; /*Makes it a circle*/
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  margin: 100px;
}

.card {
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  color: white;
  font-weight: 900;
}

.cta-heading {
  padding: 5% 20% 0;
}

#footer {
  text-align: center;
  padding: 5% 20%;
}

#footer p {
  text-align: center;
  font-weight: 500;
}

.icon-social {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.icon-box {

}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

@media (min-width: 1500px) {
  .container-fluid {
    padding: 3% 15% 13%; /* 3% to top and bottom, 15% left and right.*/
  }
}

@media (min-height: 800px) {
  .container-fluid {
    padding: 3% 15% 18%; /* 3% to top and bottom, 15% left and right.*/
  }

  .title-image {
    padding-top: 5%;
  }

  .cta-heading {
    padding: 5% 30% 0;
  }
}

@media (max-width: 540px) {
  h2 {
    font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

}
